@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

// html,body{
//   max-width: 100%;
// }

body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
  box-sizing: border-box;
}

.chatbar {
  background: tomato;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 0 5px;
}

.notification {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {

  margin: 5px;
  padding: 0 10px;
  word-wrap: break-word;
}

.message-content {
   max-width: 80%;
  //  display: flex;
  //  align-items: flex-start;
  //  justify-content: flex-start;
  //  justify-items: flex-start;
  //  flex: 8;
  .content-wrapper{
    overflow: hidden;
    border-radius: 20px;
    padding: 10px 14px;
    width: 80%;
  }

  img{
    max-width: 100%;
    // margin: 0;
    // padding: 0;
    vertical-align: bottom;
  }
}

.message-username {
  min-width: 20%;
  max-width:300px;
  // flex: 2;
  font-weight: 700;
  padding: 10px;
}

.navbar {
  background: tomato;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  overflow: hidden;

  a{
    color: #fff;
    font-weight: 400;
  }

  p{
    float: right;
    line-height: 60px;
    margin: auto 10px;
  }
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}