@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: tomato;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 0 5px;
}

.notification {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 10px 10px;
}

.message-content {
  flex: 8;

  border-radius: 20px;

  img{
    max-width: 80%;
  }
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: tomato;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  overflow: hidden;

  a{
    color: #fff;
    font-weight: 400;
  }

  p{
    float: right;
    line-height: 60px;
    margin: auto 10px;
  }
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}